<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breathing GUI - Home</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <script src="{{url_for('static', filename='js/plotly-latest.min.js')}}"></script>
</head>

<body>

    <div class="pure-g"">
        <div class=" pure-u-2-24">
    </div>
    <div class="pure-u-20-24">
        <h1>Breathing GUI</h1>

        <a href="/settings">Show settings</a>

        <div class="pure-g">
            <div class="pure-u-1-2" id="pressure_plot" style="height:50vh;"></div>
            <div class="pure-u-1-2" id="volume_plot" style="height:50vh;"></div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-2" id="bpm_plot" style="height:50vh;"></div>
            <div class="pure-u-1-2" id="trigger_pressure_plot" style="height:50vh;"></div>
        </div>
    </div>
    <div class="pure-u-2-24">
    </div>
    </div>

    <script src="{{url_for('static', filename='js/plot_layouts.js')}}"></script>
    <script src="{{url_for('static', filename='js/update_data.js')}}"></script>
</body>

</html>